/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background-color: #f7f7f8;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.chat-message {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 15px;
  max-width: 60%;
}

.chat-message.user {
  align-self: flex-end;
  background-color: #e2e8f0;
  text-align: left;
}

.chat-message.bot {
  align-self: flex-start;
  background-color: #e2e8f0;
  color: rgb(0, 0, 0);
  text-align: left;
}

.input-box {
  display: flex;
  padding: 15px;
  width: 80%;
  margin: auto;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.input-box button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.input-box button:hover {
  background-color: #006ee4;
}
